#body_wrap{
 /* background-color:#EEEEEE;*/
  /*background: radial-gradient(#EEEEEE, #EA6264);*/
  background: linear-gradient(-45deg, #e0ffff, #ffffe0);
}

#body_wrap_about,#body_wrap_service,#body_wrap_skill,#body_wrap_works{
  padding:55px 0px 55px 0px;
  font-family: 'Playfair Display', serif;
  text-align: center;

  border-top:5px ridge;
  border-bottom:5px ridge;
}


/*------------------------------*/
.text00{
  font-size:1.70em;
  margin-bottom: 10px;
  padding:0px 0px 0px 0px;
}
.text01{
  font-size:1.10em;
  margin-bottom: 8px;
  padding:0px 0px 0px 0px;
}
.icon{
  margin:0px 0px;
  padding:0px 0px 0px 0px;
}

.icon.works{
  margin:0px 0px;
  padding:0px 0px 0px 0px;
  border: 1px solid;
  border-color: rgb(100, 84, 84);
}

.text_title{
  font-size: 3.2vmax;
}

table.contents_l2{
  margin: 20px 0px;
  padding: 0px;
}
