article, aside, details, figcaption, figure, header, hgroup, menu, nav, section {
display: block;
}
footer{
  clear:both;
  height:100px;
  text-align:center;
  font-size:0.85em;
  padding-top:45px;
  margin-top:10px;
  display:block; 
}

.title_foot{
  color: white;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.2em;
  font-size: 20px;
  text-indent: .1em;
  text-align: center;
  margin: 20px;
}

table.sns_pos {
  margin: 10px auto;
}
img.sns_img{
  width: 40px;
  height: 40px;
}

#foot-wraper{
  background-color: #525866;

}
